<div class="menu-tree" *ngIf="menu?.length">
  <ng-container
    *ngTemplateOutlet="recursiveMenu; context: { $implicit: menu, level: 0 }">
  </ng-container>
</div>

<ng-template #recursiveMenu let-items let-level="level">
  <div class="menu-level" [attr.data-level]="level">
    <div
      class="menu-node"
      *ngFor="let item of items; trackBy: trackByMenu">

      <div
        [ngClass]="getItemClasses(item, level)"
        [routerLink]="!hasChildren(item) ? item.link : null"
        routerLinkActive="menu-node__trigger--active"
        [routerLinkActiveOptions]="{ exact: false }"
        (click)="onItemClick($event, item)">

        <div class="menu-node__left">
          <span class="menu-node__icon" *ngIf="item.icono">
            <i [ngClass]="item.icono"></i>
          </span>

          <span class="menu-node__bullet" *ngIf="!item.icono && level > 0"></span>

          <span class="menu-node__label">
            {{ item.titulo }}
          </span>
        </div>

        <span class="menu-node__right" *ngIf="hasChildren(item)">
          <i
            class="pi"
            [ngClass]="item.collapsed ? 'pi-angle-down' : 'pi-angle-up'">
          </i>
        </span>
      </div>

      <div class="menu-node__children" *ngIf="hasChildren(item) && !item.collapsed">
        <ng-container
          *ngTemplateOutlet="recursiveMenu; context: { $implicit: item.menu, level: level + 1 }">
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>