
.table-container {
  width: 80%;
  margin: 0 auto;
}

.pasos-table {
  width: 100%;
}

.custom-dialog .ui-dialog-content {
  background-color: #f7f7f7;
  padding: 20px;
}

.custom-dialog .p-dialog-footer {
  text-align: right;
  padding: 10px 20px;
}

.custom-dialog .confirm-button {
  background-color: #02b1bc;
  color: white;
  border: none;
  margin-right: 10px;
}

.custom-dialog .confirm-button:hover {
  background-color: #e55350;
}

.custom-dialog .cancel-button {
  background-color: #cccccc;
  color: black;
  border: none;
}

.custom-dialog .cancel-button:hover {
  background-color: #999999;
}

.dialog-content p {
  font-size: 16px;
  color: #333;
}
